<h1 class="title"><%= @product.title %></h1>

<p class="description"><%= @product.description %></p>

<span class="price"><%= @product.price %>$</span>

<div>
    <%= image_tag @product.photo, width: 300 if @product.photo.attached? %>
</div>

<%= link_to "Edit Product", edit_product_path(@product) %>

<%# link_to makes a GET request by default, we use a turbo method to override that %>
<%= link_to "Delete Product", product_path(@product), data: {
    turbo_method: :delete,
    turbo_confirm: t("common.confirm")
} %>
